
<!--FONDO Y TITULOS-->

<div class="relative w-full opacity-100 ">
    <img class="w-full h-auto" src="../assets/img/Presentación1.png"/>
  
    <!-- bg-gray-500/50 se puede agregar -->
    <!-- <div class="absolute top-56 text-center transform    w-fit opacity-100 ">  
      <div class="text-white  font-bold font-montserrat text-7xl " [ngClass]="{'text-xl' : pantallaCargada}">SÚMATE</div>
    </div>\\
  
    <div class="absolute top-80 right-40 transform px-40 py-5 w-fit opacity-100 ">
    
      <p class="text-gray-200 font-bold font-monserrat text-2xl text-center  ">
        Ayuda a mejorar la calidad de vida
        
      </p>
  
      <p class="text-gray-200 font-bold font-montserrat text-2xl text-center ">
        De las personas vulnerables
        
      </p>
      <p class="text-gray-200 font-bold font-montserrat text-2xl text-center ">
        Sé parte de
      </p>
      <p class="w-fit italic font-bold text-gray-200 font-montserrat text-3xl bg-violet-800 bg-contain mx-auto px-2 ">
        VIVIR PARA SERVIR
      </p>
      
    </div> -->
    <button class="absolute top-2/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 px-8 py-3 
    rounded-3xl bg-indigo-900 hover:bg-indigo-700 transition-all duration-200 text-white font-bold 
    font-monserrat  text-xs sm:text-sm md:text-md lg:text-lg xl:text-2xl text-center border border-blue-700 rounded" (click)="bajar()">
      Dona a nombre de la S.B.L.M DONACIONES
    </button>
  </div>

  <div class="w-full px-4 md:px-20">
  <!--TABS DE NAVEGACION-->
  <div class="w-full mt-16 border-t flex  md:grid grid-cols-2 md:gap-x-8 " role="tablist" aria-orientation="horizontal">
    <!-- ELEMENTO1 
    <div class = "w-full  rounded-t-3xl px-4 mx-auto  justify-center items-center" 
      [ngClass]="{
        'border-0 bg-slate-50 hover:animate-pulse': item !=1,
        'border-t-indigo-600 border-r-indigo-600  border-l-indigo-600 border-4 border-b-0 transition-all duration-200 bg-indigo-900': item==1
      }">
       Linea1
      <div class="relative -mt-px border-t pb-6 pt-4 text-left md:pb-10 md:pt-8 border-transparent hover:border-indigo-600 transition-all duration-200   " 
      [ngClass]="{
        'border-indigo-600 transition-all duration-200 ': item === 1,
        'border-transparent hover:border-indigo-600 transition-all duration-200 ': item != 1
      }">
        <h3>
           Boton1
          <button class="whitespace-nowrap font-bold text-sm font-montserrat leading-7 sm:text-base [&amp;:not(:focus-visible)]:focus:outline-none transition-all text-slate-900" id="tab1" role="tab" type="button" aria-selected="true" tabindex="0" data-headlessui-state="selected" aria-controls="headlessui-tabs-panel-16"  
          [ngClass]="{
            'text-white ': item === 1,
            'text-slate-900': item != 1
          }" (click)="activateTab(1)">
          <span class="absolute inset-0 -top-px  "></span>Billeteras Electrónicas</button>
        </h3>
        <p 
          class="mt-2 hidden text-sm leading-6 text-slate-700 md:block" [ngClass]="{
            'text-white ': item === 1
          }">Realiza tu donación a través de la plataforma de tu preferencia: Yape, Plin, etc. 
        </p>
      </div>
    </div> -->
    
  
  <!-- ELEMENTO2 -->
    <div class = "element" 
    [ngClass]="{
      'border-0 bg-slate-50 hover:animate-pulse': item !=2,
      'border-t-indigo-900 border-r-indigo-900  border-l-indigo-900 border-4 border-b-0 transition-all duration-200 bg-indigo-900': item==2
    }" >
      <!-- Linea2-->
      <div class="relative -mt-px border-t pb-6 pt-4 text-left md:pb-10 md:pt-8 border-transparent hover:border-indigo-900 transition-all duration-200 " 
      [ngClass]="{
        'border-indigo-900  transition-all duration-200 ': item === 2,
        'border-transparent hover:border-indigo-900 transition-all duration-200 ': item !== 2
      }"> 
        <h3>
          <!-- Boton2-->
          <button class=" font-bold  font-montserrat leading-7 text-xs sm:text-sm md:text-base [&amp;:not(:focus-visible)]:focus:outline-none transition-all text-slate-900" id="tab2" role="tab" type="button" aria-selected="true" tabindex="-1" data-headlessui-state="" aria-controls="headlessui-tabs-panel-17"  
          [ngClass]="{
            'text-white': item === 2,
            'text-slate-900': item !== 2
          }" (click)="activateTab(2)">
            <span class="absolute inset-0 "></span>Transferencias Bancarias</button>
          </h3>
          <p
          class="mt-2 hidden text-sm leading-6 text-slate-700 md:block" [ngClass]="{
            'text-white': item === 2
          }">Realiza tu donación a través del banco de tu preferencia: BCP, BBVA, Scotiabank, etc.
          </p>
       </div> 
    </div>
    <div class="w-10 min-w-[1rem] shrink sm:hidden" aria-hidden="true">
  
    </div>
    <!-- ELEMENTO3 -->
    <div class = "element" [ngClass]="{
      'border-0 bg-slate-50 hover:animate-pulse': item !=3,
      'border-t-indigo-900 border-r-indigo-900  border-l-indigo-900 border-4 border-b-0 transition-all duration-200 bg-indigo-900': item==3
    }">
      <!-- Linea3-->
      <div class="relative -mt-px border-t pb-6 pt-4 text-left md:pb-10 md:pt-8 border-transparent hover:border-indigo-900 transition-all duration-200 " 
      [ngClass]="{
        'border-indigo-900 transition-all duration-200 ': item === 3,
        'border-transparent hover:border-indigo-900 transition-all duration-200 ': item !== 3
      }">
        <h3>
          <!-- Boton3-->
          <button class="font-bold  font-montserrat leading-7 text-xs sm:text-sm md:text-base [&amp;:not(:focus-visible)]:focus:outline-none transition-all text-slate-900" id="tab3" role="tab" type="button" aria-selected="false" tabindex="-1" data-headlessui-state="" aria-controls="headlessui-tabs-panel-18" 
           [ngClass]="{
            'text-white': item === 3,
            'text-slate-900': item !== 3
          }" (click)="activateTab(3)">
            <span class="absolute inset-0 " ></span>Tajetas de crédito/débito</button></h3>
            <p 
            class="mt-2 hidden text-sm leading-6 text-slate-700 md:block" [ngClass]="{
              'text-white': item === 3
            }">Realiza tu donación a través de una tarjeta de crédito/débito: Visa, Mastercard, American Express, etc.
            </p>
      </div>
    </div>
  </div>
  <!-- 'text-indigo-600': item === 3, -->
  <!--FIN TABS NAVEGACION-->
  
  <!--CONTENIDO-->
    <!--BILLETERAS ELECTRÓNICAS-->
    
  <div class="w-full  pb-10 " *ngIf="item == 1">
    <div class = "w-full bg-slate-50 rounded-r-3xl rounded-b-3xl  shadow-xl py-10 border-2 border-black justify-center items-center">
      <div class="w-full  grid grid-cols-1 md:grid-cols-3 gap-4 px-20  ">
        <!-- YAPE -->
        <div class="flex justify-center items-center border-2 rounded-xl p-4 shadow-xl">
          <div class="w-36 h-36">
            <img src="../assets/img/yape.png" />
          </div>
          <div class="pl-8">
            <h1 class="font-montserrat font-bold text-xl ">Vía Yape</h1>
            <h1 class="font-montserrat text-base mt-1">Transfiere al número</h1>
            <h1 class="font-montserrat text-base">999999999</h1>
          </div>
        </div>
        <!-- PLIN -->
        <div class="flex justify-center items-center border-2 rounded-xl p-4 shadow-xl">
          <div class="w-36 h-36">
            <img src="../assets/img/plin.png" />
          </div>
          <div class="pl-8">
            <h1 class="font-montserrat font-bold text-xl">Vía Plin</h1>
            <h1 class="font-montserrat text-base mt-1">Transfiere al número</h1>
            <h1 class="font-montserrat text-base">999999999</h1>
          </div>
  
        </div>
      </div>
    </div>
  </div>
    <!--TRANSFERENCIAS BANCARIAS-->
    

        <div class=" w-full grid 2xl:grid-cols-3 mx-auto px-8 xl:grid-cols-2 lg:grid-cols-1 md:grid-cols-1 sm:grid-cols-1 gap-4 bg-slate-50 rounded-r-3xl rounded-b-3xl shadow-xl py-10 border-2 border-black justify-center items-center" *ngIf="item == 2">
      
          <div class="flex  items-center border-2 rounded-xl p-4 shadow-xl">
            <div class="  w-full md:w-1/2 lg:w-1/4 xl:w-1/6">
              <img src="../assets/img/bcp.png" />
            </div>
            <div class="pl-8">
              <h1 class="font-montserrat font-bold xl:text-lg md:text-base sm:text-sm xs:text-sm">Banco De Crédito Del Perú</h1>
              <h1 class="font-montserrat md:text-base mt-1 xl:text-base md :text-sm sm:text-xs xs:text-xs"><u>Cuenta Corriente Soles</u></h1>
              <h1 class="font-montserrat md:text-base mt-1 xl:text-base md :text-sm sm:text-xs xs:text-xs">000000000000000000</h1>
              <h1 class="font-montserrat md:text-base mt-1 xl:text-base md :text-sm sm:text-xs xs:text-xs"><u>Código de Cuenta Interbancaria (CCI)</u></h1>
              <h1 class="font-montserrat md:text-base mt-1 xl:text-base md :text-sm sm:text-xs xs:text-xs">000000000000000000</h1>
            </div>
          </div>
      
          <div class="flex items-center border-2 rounded-xl p-4 shadow-xl">
            <div class=" w-full md:w-1/2 lg:w-1/4 xl:w-1/6">
              <img src="../assets/img/interbank.png" />
            </div>
            <div class="pl-8">
              <h1 class="font-montserrat font-bold xl:text-lg md:text-base sm:text-sm xs:text-sm">Interbank</h1>
              <h1 class="font-montserrat md:text-base mt-1 xl:text-base md :text-sm sm:text-xs xs:text-xs"><u>Cuenta Corriente Soles</u></h1>
              <h1 class="font-montserrat md:text-base xl:text-base md :text-sm sm:text-xs xs:text-xs">00110661010007193765</h1>
              <h1 class="font-montserrat md:text-base mt-1 xl:text-base md :text-sm sm:text-xs xs:text-xs"><u>Código de Cuenta Interbancaria (CCI)</u></h1>
              <h1 class="font-montserrat md:text-base xl:text-base md :text-sm sm:text-xs xs:text-xs">01166100010007193765</h1>
            </div>
          </div>
      
          <div class="flex items-center border-2 rounded-xl p-4 shadow-xl">
            <div class=" w-full md:w-1/2 lg:w-1/4 xl:w-1/6">
              <img class="rounded-3xl" src="../assets/img/scotia.png" />
            </div>
            <div class="pl-8">
              <h1 class="font-montserrat font-bold xl:text-lg md:text-base sm:text-sm xs:text-sm">Scotiabank</h1>
              <h1 class="font-montserrat md:text-base mt-1 xl:text-base md :text-sm sm:text-xs xs:text-xs"><u>Cuenta Corriente Soles</u></h1>
              <h1 class="font-montserrat md:text-base xl:text-base md :text-sm sm:text-xs xs:text-xs">0000379459</h1>
              <h1 class="font-montserrat md:text-base mt-1 xl:text-base md :text-sm sm:text-xs xs:text-xs"><u>Código de Cuenta Interbancaria (CCI)</u></h1>
              <h1 class="font-montserrat md:text-base xl:text-base md :text-sm sm:text-xs xs:text-xs">00917000000037945921</h1>
            </div>
          </div>
        </div>

    <!--TARJETAS DE CRÉDITO/DÉBITO-->
    
  
      <div class = "w-full mx-auto px-8 bg-slate-50 rounded-l-3xl rounded-b-3xl shadow-xl py-10 border-2 border-black justify-center items-center" *ngIf="item == 3">   
        <div class="w-full grid 2xl:grid-cols-3 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1 gap-4  ">
      
          <button class="flex items-center border-2 rounded-xl p-4 shadow-xl hover:shadow-none transition-all duration-200 " (click)="abrirPago()">
            <div class="w-36  h-36 w-full md:w-1/2 lg:w-1/4 xl:w-1/6">
              <img src="../assets/img/visa.png" />
            </div>
            <div class="pl-8">
              <h1 class="font-montserrat font-bold xl:text-lg md:text-base sm:text-sm xs:text-sm ">Visa</h1>
            </div>
          </button>
      
          <div class="flex items-center border-2 rounded-xl p-4 shadow-xl hover:shadow-none transition-all duration-200" (click)="abrirPago()">
            <div class="w-36  h-36 w-full md:w-1/2 lg:w-1/4 xl:w-1/6">
              <img src="../assets/img/mastercard.png" />
            </div>
            <div class="pl-8 ">
              <h1 class="font-montserrat font-bold xl:text-lg md:text-base sm:text-sm xs:text-sm ">Mastercard</h1>
            </div>
          </div>
      
          <div class="flex  items-center border-2 rounded-xl p-4 shadow-xl hover:shadow-none transition-all duration-200" (click)="abrirPago()">
            <div class="w-36 h-36  w-full md:w-1/2 lg:w-1/4 xl:w-1/6">
              <img src="../assets/img/amex.png" />
            </div>
            <div class="pl-8">
              <h1 class="font-montserrat font-bold xl:text-lg md:text-base sm:text-sm xs:text-sm ">American Express</h1>
            </div>
          </div>
        </div>
      </div> 

  <!-- FIN DE CONTENIDO-->

</div>
  <div class="w-full bg-indigo-900 py-11 md:px-8 text-white">
    <div class="grid grid-cols-1 md:grid-cols-3 md:px-18 gap-4 lg:gap-4">
      <div>
        <h1 class="font-bold text-sm md:text-base lg:text-lg  text-center">Nuestra ubicación</h1>
        <h1 class="text-sm md:text-base lg:text-lg  mt-2 md:mt-4 mx-12 md:mx-24  text-center">Sociedad de Beneficencia de Lima Metropolitana - Jr. Carabaya 641 Lima - Perú</h1>
      </div>
  
      <div>
        <h1 class="font-bold text-sm md:text-base lg:text-lg text-center">Contáctanos</h1>
        <h1 class="text-sm md:text-base lg:text-lg md:mt-4 text-center">(01) 427-6521 / (01) 427-6522
        </h1>
      </div>
  
      <div>
        <h1 class="font-bold xl:text-xl md :text-lg sm:text-base xs:text-sm text-center">Síguenos</h1>
        <div class="flex items-center mt-4 text-center content-center">
          <div class="h-12 w-12 rounded-full bg-white ml-auto"></div>
          <div class="h-12 w-12 rounded-full bg-white ml-2"></div>
          <div class="h-12 w-12 rounded-full bg-white ml-2"></div>
          <div class="h-12 w-12 rounded-full bg-white ml-2 mr-auto"></div>
        </div>
      </div>
    </div>
  </div>
